.item {
    text-align: center;
    font-size: 14px;
}

.item-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 29px 0 24px 0;
}

@media (max-width: 980px) {
    .item{
        margin-bottom: 30px;
    }
}

